.settings/
target/
.cache/
.upm/
.vscode/*
.idea/

.project
.classpath
.breakpoints

dependency-reduced-pom.xml
.flattened-pom.xml
.factorypath
*.log

src/demo/resources/response.mp3
.replit
replit.nix

!.vscode/extensions.json